<h1>Neu registrieren</h1>


<%= form_for([@event, @registration]) do |f| %>

<%= render "shared/errors", obj_errors: @registration %>


	
 <div class="row">
 	<div class="medium-2 columns">
 			<%= f.label :name %>: 
		
 	</div>

 	<div class="medium-10 columns">
 			<%= f.text_field :name %>
 	</div>
 </div>

 <div class="row">
 	<div class="medium-2 columns">
 			<%= f.label :email %>:
	
 	</div>

 	<div class="medium-10 columns">
 			<%= f.text_field(:email) %>
 	</div>
 </div>

 <div class="row">
 	<div class="medium-2 columns">
 			<%= f.label :heared %>:
	
 	</div>

 	<div class="medium-10 columns">
 			<%= f.select :heared, Registration::HEARED_OPTIONS, prompt: "Bitte auswählen" %>
 	</div>
 </div>
		

<div class="row">
 	<div class="medium-2 columns">
		<%= f.submit "Registrieren", class: "button" %>
</div>
	<div class="medium-10 columns">
		<%= link_to "zurück", events_path, class: "button" %>

		</div>
 </div>
	
<% end %>