<h1>Project: <%= @project.name %></h1>


<% if flash[:notice] %>
<div class="flash">
		<%= flash[:notice] %>
</div>
	<% else %>
	<div></div>
	<% end %>

<div class="row">
		<div class="medium-2 columns">
			<p>Beschreibung:</p>
		</div>
		<div class="medium-10 columns">
			<p><%= @project.description %></p>
		</div>
	</div>
</div>

<div class="row">
		<div class="medium-2 columns">
			<p>Finanzierungsziel:</p>
		</div>
		<div class="medium-10 columns">
			<p><%= number_to_currency(@project.target_pledge, unit: "€") %></p>
		</div>
	</div>
</div>

<div class="row">
		<div class="medium-2 columns">
			<p>Läuft bis:</p>
		</div>
		<div class="medium-10 columns">
			<p><%= @project.ttl %></p>
		</div>
	</div>
</div>

<div class="row">
		<div class="medium-2 columns">
			<p>Website:</p>
		</div>
		<div class="medium-10 columns">
			<p><%= @project.website %></p>
		</div>
	</div>
</div>
 

<p><%= link_to "Übersicht", projects_path %></p>
<p><%= link_to "Es gibt #{@project.questions.count} Fragen", project_questions_path(@project.id) %></p>