<%= form_for(@event) do |f| %>
<table>
	<tr>
		<td><%= f.label :name %>: </td>
		<td><%= f.text_field :name %></td>
		
	</tr>
	<tr>
		<td><%= f.label :beschreibung %>: </td>
		<td><%= f.text_area(:desciption, cols: 150, rows: 10) %></td>
		
	</tr>

	<tr>
		<td><%= f.label :ort %>: </td>
		<td><%= f.text_field :location %></td>
		
	</tr>
	<tr>
		<td><%= f.label :preis %>: </td>
		<td><%= f.number_field :price %></td>
		
	</tr>
	<tr>
		<td><%= f.label :beginn %>: </td>
		<td><%= f.datetime_select :start_at %></td>
		
	</tr>
	<tr>
		<td><%= f.submit %></td>
		<td><%= link_to "zurück", events_path %></td>
	</tr>	
</table>
<% end %>
