<%= form_for(@movie) do |f| %>
<table>
	<tr>
		<td><%= f.label :name %>: </td>
		<td><%= f.text_field :title %></td>
		
	</tr>
	<tr>
		<td><%= f.label :beschreibung %>: </td>
		<td><%= f.text_area(:description, cols: 150, rows: 10) %></td>
		
	</tr>

	<tr>
		<td><%= f.label :rating %>: </td>
		<td><%= f.text_field :rating %></td>
		
	</tr>
	<tr>
		<td><%= f.label :eingespielt %>: </td>
		<td><%= f.number_field :total_gross %></td>
		
	</tr>
	<tr>
		<td><%= f.label :web %>: </td>
		<td><%= f.text_field :web %></td>
		
	</tr>
	<tr>
		<td><%= f.label :release %>: </td>
		<td><%= f.datetime_select :release %></td>
		
	</tr>
	<tr>
		<td><%= f.label :pledging %>: </td>
		<td><%= f.datetime_select :pledging %></td>
		
	</tr>
	<tr>
		<td><%= f.submit %></td>
		<td><%= link_to "zurück", movies_path %></td>
	</tr>	
</table>
<% end %>