<%= form_for(@movie) do |f| %>

	<div class="row">
		<div class="medium-2 columns">
		<%= f.label :name %>
		</div>
		<div class="medium-10 columns">
		<%= f.text_field :title %>
		</div>
	</div>
	
	<div class="row">
		<div class="medium-2 columns">	
		<%= f.label :beschreibung %>
		</div>
		<div class="medium-10 columns">
		<%= f.text_area(:description, cols: 150, rows: 10) %>
		</div>
	</div>
		
	<div class="row">
		<div class="medium-2 columns">	
		<%= f.label :rating %>
		</div>
		<div class="medium-10 columns">
		<%= f.text_field :rating %>
		</div>
	</div>

	<div class="row">
		<div class="medium-2 columns">	
		<%= f.label :eingespielt %>
		</div>
		<div class="medium-10 columns">
		<%= f.number_field :total_gross %>
		</div>
	</div>
		
	<div class="row">
		<div class="medium-2 columns">	
		<%= f.label :web %>
		</div>
		<div class="medium-10 columns">
		<%= f.text_field :web %>
		</div>
	</div>
		
	<div class="row">
		<div class="medium-2 columns">	
		<%= f.label :release %>
		</div>
		<div class="medium-10 columns">
		<%= f.datetime_select :release %>
		</div>
	</div>
		
	<div class="row">
		<div class="medium-2 columns">	
		<%= f.label :pledging %>
		</div>
		<div class="medium-10 columns">
		<%= f.datetime_select :pledging %>
		</div>
	</div>
		
	
		<%= f.submit %>
		<%= link_to "zurück", movies_path %>

<% end %>