<h1>Movies</h1>

<p>
	<table>
		<tr>
			<th>Titel</th>
			<th>Rating</th>
			<th>Beschreibung</th>
			<th>Erschienen</th>
			<th>Website</th>
			<th>Pledging</th>
			<th>Eingespielt</th>
		</tr>	
		<tr>
			<% @movies.each do |m| %>
			<td> <%= m.title %> </td>
			<td> <%= m.rating %> </td>
			<td> <%= m.description %> </td>
			<td> <%= m.release.to_s %> </td>
			<td><a href='<%= m.web %>' target=_blank><%= m.web %></a> </td>
			<td> <%= m.pledging.to_s %> </td>
			<td> <%= number_to_currency(m.total_gross, unit: "€") %> </td>

		</tr>
		<% end %>

	</table>

</p>